<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <% if @current_user != nil %>
      <th></th>
    <% end %>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <% if user.private == true %>
      Yes
      <%else%>
      No
      <%end%>
    </td>

    <% if @current_user != nil %>
      <td>
        <% user.sent_follow_requests.each do |a_status| %>
          <% if a_status.status == "accepted" %>
            Unfollow
            <% elsif a_status.status == "pending" %>
            Pending
              <% elsif a_status.status == "rejected" %>
              blank
              <% else %>
              <button>Follow</button>

          <% end %>
             

        <%end%>


      </td>
    <% end %>
    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
